<head>
	<h6>Site: &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; STAND 31521 PHASE 6 CALEDONIA</h6>
	<p>&#160;</p>
	<h6>SITUATE: &#160;&#160;&#160;&#160; CALEDONIA TOWNSHIP, HARARE.</h6>
	<p>&#160;</p>
	<h6>LEASE NUMBER LA/2302</h6>
</head>
<ul>

	<p>
		<br>
		<u>AGREEMENT OF LEASE</u>
		</br>
		An agreement of lease entered into by and between the Minister of Local Government,
		Public Works and National Housing, Private Bag 7706 Causeway, Harare,
		on behalf of the Government of Zimbabwe (herein styled the “Lessor”) and
		Johanne Masowe WeChishanu Muzinda Apostolic Sect (hereinafter styled the "Lessee”),
		Stand 31521 Phase 6 Caledonia Township Harare.
	</p>

	<p>
		<br><u>1. WITNESSETH</u></br>
		The Lessor hereby lets and the lessee takes on hire a certain piece of land delineated
		on the plan annexed hereto. The said land with or without improvements is referred to as "the property".
		The property is stand 31521 Caledonia Township measuring nine thousand, three hundred and forty three
		square metres.
	</p>

	<p>
		<br /><u>2. PERIOD</u></br>
		Notwithstanding the date of signature hereof, this agreement shall be deemed to have commenced on the
		1st  of December 2019 and shall continue for a period of 5 years and terminating on the 30th  November
		2024.
	</p>

	<p>
		<br><u>3. RENT</u></br>
		The monthly rental shall be the sum of $2.489 RTGS dollars (Two thousand, four hundred and eighty
		nine dollars), per month. Subsequent rent shall be payable in advance, on or before the 1st  day
		of each month to the Accountant, Ministry of Local Government, Public Works and National Housing
		addressed as in clause 7 hereof or at such other place as the Lessor may direct provided that the
		Lessor shall have the right to vary the said rental after every 3 years. The rentals shall be reviewed
		annually to open market levels.
	</p>

	<p>
		<br><u>4. RENEWAL OF LEASE</u></br>
		Any renewal of this lease shall be at the sole discretion of the Lessor and the terms and conditions of
		the grant of such renewal shall be determined solely by the Lessor upon giving 6 months written notice of
		the intention to renew being given by the lessee, prior to the expiration of the lease period.
	</p>

	<p>
		<br><u>5. USE</u></br>
		The site shall be used for worshipping purposes only and uses ancillary thereto.

	</p>
	<p>
		<br><u>6. RESUMPTION OF POSSESSION BY LESSOR</u></br>
		The Lessor shall have the right at any time, upon giving to the lessee 6 months written notice,
		and in such a manner and upon such conditions as he may think fit, to take possession of the property
		or any portion thereof and grant a pro rata reduction of rental thereof. The lease shall be terminated as
		soon as possible if lease conditions are not complied with. Provided such repossession shall not be
		unreasonably implemented.
	</p>
	<p>
		<br><u>7. SERVICE OF NOTICE</u></br>
		Any notice, letter, process or demand required to be served, delivered or addressed as the case maybe shall
		be deemed to have been sufficiently delivered if sent by mail to:
	<p style="margin-left: 25px;">
		<br>a.	The Lessor Ministry of Local Government, Public Works and National Housing, Private Bag 7706 Causeway,
		Harare</br>
		<br>b.	The Lessee at Number Stand 31521 Phase 6 Caledonia Township, Harare.</br>
	</p>
	</p>
	<p>

		<br><u>8. SUB-LETTING</u></br>
		The lessee shall not sub-let this lease nor any part of the property, cede, assign or makeover rights or
		obligations under this agreement nor grant any form of right of occupation or use, nor encumber the said
		property without the prior written consent of the Lessor, which shall not be unreasonably withheld.
	</p>
	<p>
		<br><u>9. ACCESS</u></br>
		No culvert or other means of access to and from the stand shall be constructed except with the written
		consent and to the specification of the Victoria Falls Municipality. Access to the site shall be from the
		motorable track that accesses the water reservoirs.
	</p>
	<p>
		<br><u>10. BUILDINGS</u></br>
		The plans for buildings to be erected on the stand shall be submitted to Victoria Falls Municipality or
		Ministry of Public Works for approval. No building or structure shall be installed otherwise than in
		accordance with the approved plans.
		The stand shall not be occupied until:
	<p style="margin-left: 25px;">
		<br>
		a)	Approved plans have been erected and completed
		thereon
		</br>
		<br>
		b)	A piped water supply system has been connected thereto
		to the satisfaction of the Local Authority and
		the Provincial, Medical Director.
		</br>
		<br>
		c)	A sanitary system to the satisfaction of Local
		Authority has been installed thereon.
		</br>
		<br>
		d)	The Local Authority has granted a certificate of
		completion.
		</br>
	</p>
	</p>
	<p>
		<br><u>11. MAINTANANCE OF IMPROVEMENTS</u></br>
		During the currency of this lease or any renewal thereof, the lessee shall keep and maintain the property
		and any buildings and improvements which may be erected thereon in a good state of repair at his own
		expense and in all respects clean, tidy, sanitary and free from rubbish, vermin or litter and where
		applicable maintain paintwork to ensure a reasonable standard of protection and appearance.
	</p>
	<p>
		<br><u>12 . HEALTH</u></br>
		The lessee undertakes to make himself acquainted with and carry out all such provisions of the responsible
		health authority, as may be or become applicable in the area of the said property, and with which he
		undertakes to make himself acquainted, including such anti- malarial, anti-bilharzia or other control
		measures as may be or become and shall not use or permit to be used for human consumption any water from
		the property, the supply of which has not been approved by a Government Medical Health Officer.
	</p>
	<p>
		<br><u>13 INSPECTION</u></br>
		The lessee shall enjoy undisturbed occupation of the property but shall permit the Lessor or any official
		acting for the purposes of inspection and of ascertaining whether or not the terms of the lease are being
		complied with, or for the erection or maintenance of power lines, water pipes or other servitudes or uses.

	</p>
	<p>
		<br><u>14. NUISANCE</u></br>
		The lessee shall not do, cause or permit to be done anything on the property that is or maybe a nuisance to
		the Lessor or to the occupiers of any adjoining properties or in the vicinity of the leased property,
		without the prior written consent of the Lessor.
	</p>
	<p>
		<br><u>15. RATES AND TAXES</u></br>
		The lessee shall pay promptly all rates and taxes or other charges, which are or may be levied upon the
		property during its tenancy or any portion thereof.
	</p>
	<p>
		<br><u>16. INSURANCE</u></br>
		The lessee shall insure all permanent buildings against risks of fire and storm and shall maintain such
		policy of insurance in full force and effect during the currency of this agreement and any renewal thereof.
		The Lessee may on demand be called upon to produce to the Lessor satisfactory evidence of compliance with
		this clause.
	</p>
	<p>
		<br><u>17. INDEMNITY</u></br>
		The lessee hereby indemnifies the Lessor for all sums to which the Lessor may become legally liable in
		respect of injury or death of any person as a result of any accident arising out of or in the course of or
		caused by the use of the leased premises.
	</p>
	<p>
		<br><u>18. DEFAULT</u></br>
		Should the lessee fail to pay rent or any part thereof on the due date in accordance with clause 3 hereof or
		commit any such breach of the terms and conditions of this agreement, the Lessor may in his sole discretion
		and without prejudice to any claims for damages, arrears, or otherwise, cancel this agreement without notice
		and enter into possession of the property hereby leased.

	</p>
	<p>
		<br><u>19. SERVITUDES</u></br>
		Servitudes over the property for all water and for all sewerage, electricity and or public utilities shall
		be granted by the lessee as and when required.
	</p>
	<p>
		<br><u>20. BEACONS, PEGS AND FENCES</u></br>
		The lessee shall keep and maintain boundaries or beacons/pegs of the leased premises in a proper and
		undisturbed state and the cost of doing or the cost of any repair or replacing that may become necessary
		shall be borne the lessee. Any fencing that may be on the property or its boundaries shall not be removed
		or damaged during this tenancy.
	</p>
	<p>
		<br><u>21. COST OF ROADS AND SURVEYS</u></br>
		The Lessor shall not be liable to construct or provide or contribute to the costs of providing any road or
		way which may be required to gain access to the leased property nor contribute to the costs of any survey
		of the property, road or subdivision which the lessee might deem necessary, which costs if any shall be
		borne by the lessee.
	</p>
	<p>
		<br><u>22. NATURAL RESOURCES</u></br>
		The lessee shall, at his own expense, ensure that no tree felling or wood cutting shall be practiced without
		the prior written consent of the Lessor, that no noxious weed shall establish growth, that fire breaks shall
		be cut and maintained and that all grass shall be cut and kept under control so as to preclude any fire
		hazard to this property or any adjoining property to ensure the prevention of any soil erosion in accordance
		with the provisions of the Natural Resources Act (chapter 150) and the Forestry Act (chapter 125) shall
		abide by any advice given by the Environment Management Agency.
	</p>
	<p>
		<br><u>23. CAPTIONS</u></br>
		The captions appearing at the head of each Clause of this Agreement shall not affect or be taken into
		account in interpreting the Clauses to which they refer or any other part or this agreement.
	</p>
	<p>
		<br>
		<u>24. TERMINATION OF LEASE</u>
		</br>
		Any termination of this agreement by either party shall be only in terms of the provisions of this
		agreement.

	</p>

</ul>